<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.framework.rightsmanagervueservice.dao.SysAdminAccessMapper" >
  <resultMap id="BaseResultMap" type="com.framework.rightsmanagervueservice.model.SysAdminAccess" >
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
  </resultMap>

</mapper>